.card {
    position: relative;
    width: 100%;
    max-width: 350px;
    max-height: 20em;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}

.card a {
    text-decoration: none;
    color: black;
}

.card__answerButton {
    padding: 10px;
    margin: 20px 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.card__answer {
    margin-top: 0px;
}

.bookmark {
    width: 40px;
}

.card__tag-container {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.card__tag-container_tag {
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
}

.card__deleteButton {
    background-color: rgb(252, 68, 68);
    font-size: larger;
    font-weight: bolder;
    color: white;
    position: absolute;
    left: 20px;
    top: -10px;
    border-radius: 10px;
    border: unset;
}

.card__deleteButton:hover {
    color: rgb(92, 53, 53);
    cursor: pointer;
}

.card__bookmarkButton {
    position: absolute;
    top: -9px;
    right: 20px;
    background-color: transparent;
    border: 0px;
}

.hidden {
    display: none;
}

